@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #353535;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

.resume {
  width: 800px;
  height: auto;
  display: flex;
  margin: 50px auto;
}

.left {
  width: 280px;
  background: #022946;
}

.resume_pic img {
  width: 100%;
  height: 100%;
  background: #022946;
  /* border-radius: 150px; */
  /* padding: 15px; */
  border-bottom: 2px solid #ffffff;

}

.right {
  width: 520px;
  background: #fff;
  padding: 25px;
}

.content {
  padding: 0 25px;
}

.title {
  margin-bottom: 20px;
  color: #fff;
}
.bold {
    font-size: 20px;
    text-transform: uppercase;
}

.line {
  padding: 25px 0;
  border-bottom: 2px solid #ffffff;
}

.icon {
    width: 35px;
    height: 35px;
    background: #0088A3;
    color: #5BCAD5;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}

.icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left ul li{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.data {
    font-size: 12px;
    color: #ffffff;
}



.list_bar ul li{
    display: flex;
    margin-bottom: 10px;
    color: #b1eaff;
    justify-content: space-between;
    align-items: center;
}

.list_bar_name {
    width: 25%;
    color: white;
}

.list_bar_progress {
    width: 60%;
    margin: 0 5px;
    height: 5px;
    background: #0088A3;
    position: relative;
}

.list_bar_progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #5BCAD5;
}
